@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');

body{
    padding: 0;
    margin: 0;
}

.title {
    position: absolute;
    font-family: 'press start 2P';
    left: 28%;
    top: 30%;
    font-size: 20;
}

.ins {
    position: absolute;
    font-family: 'press start 2P';
    left:32%;
    top: 20%;
}
.zebra {
    position: absolute;
    left: 10%;
    top:43%;
}

.start {
    position: absolute;
    font-family: 'press start 2P';
    top: 50%;
    font-size: 45;
    z-index: 5;
    left: 40%;
     -webkit-animation: blink 2s step-end infinite;
}

@-webkit-keyframes blink { 50% { visibility: hidden; }}
        @keyframes blink { 50% { visibility: hidden; }}
