/*
body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}
*/


body{
    background-color: black;
}

.game {
    clip-path: circle(120px at 180px 120px);
    position: relative;
    top: 10%;
    left: 10%;
	animation: float 6s ease-in-out infinite;
    border: 1px solid white;
    border-radius: 4px;

}

.game:hover {
    opacity: 0.6;
}

@keyframes float {
	0% {
		transform: translate(0,-20px);
	}
	50% {
		transform: translate(-60px,-40px);
	}
    70% {
		transform: translate(-40px,20px);
	}
	100% {
		transform: translate(0,-20px);
	}
}


.dialogue1 {
    clip-path: circle(120px at 180px 120px);
    mask-image: url("yoursvg.svg");
    overflow: hidden;
	animation: float2 6s ease-in-out infinite;
}

.dialogue1:hover {
    opacity: 0.6;
}

@keyframes float2 {
	0% {
		transform: translate(-40px,0px);
	}
	40% {
		transform: translate(20px,70px);
	}
    70% {
		transform: translate(40px,90px);
	}
	100% {
		transform: translate(-40px,0px);
	}
}

.dialogue2 {
    clip-path: circle(120px at 180px 120px);
    position: relative;
    top: -50%;
    left: 25%;
    animation: float3 6s ease-in-out infinite;
}

.dialogue2:hover {
    opacity: 0.6;
}

@keyframes float3 {
	0% {
		transform: translate(0,30px);
	}
	50% {
		transform: translate(-40px,60px);
	}
    70% {
		transform: translate(-20px,40px);
	}
	100% {
		transform: translate(0,30px);
	}
}

.collection {
    clip-path: circle(120px at 180px 120px);
    position: relative;
    top: -50%;
    left: 25%;
    animation: float4 6s ease-in-out infinite;
}

.collection:hover {
    opacity: 0.6;
}

@keyframes float4 {
	0% {
		transform: translate(0,-20px);
	}
	50% {
		transform: translate(-60px,-40px);
	}
    70% {
		transform: translate(-40px,-60px);
	}
	100% {
		transform: translate(0,-20px);
	}
}
